<div class="container">
  <h1>create your new blog post</h1>

  <%= form_for @blog_post do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
